

.backwardPane{
    -fx-background-color: linear-gradient(to left ,#FFFFFF ,#F2E0CD,#C9E8ED);
}

.chartButton{
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
    -fx-font-family: "IRANSans Medium";
    -fx-border-width: 2px;
}

.chartButton:hover{
    -fx-border-color: #ffff;
    -fx-text-fill: #ffff;
    -fx-background-color: #000000FF;
    -fx-font-family: "IRANSans Medium";
    -fx-border-width: 2px;
}

.table-view{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 0, 0, 0, 0);
}

.table-view .column-header > .label {
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-font-family: "IRANSans Medium";
    -fx-text-fill: #ffff;
}

.addTexts{
    -fx-font-family: "IRANSans Medium";
    -fx-font-size: 18px;
}

.downloadCsv{
    -fx-border-color: #000000FF;
    -fx-text-fill: #000000FF;
    -fx-background-color: #ffff;
    -fx-font-family: "IRANSans Medium";
    -fx-font-size: 16px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.downloadCsv:hover{
    -fx-text-fill: #ffff;
    -fx-background-color: #ffff;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-background-color: #000000FF;
}

.sendMassage{
    -fx-background-color: #2c2f3a;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.scrollPaneFit{
    -fx-background-color: linear-gradient(to bottom, #1c1e22, #2c2f3a);
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: white;
}

.sendMassageButton{
    -fx-background-color: white;
    -fx-text-fill: black;
}