


.backwardPane{
    -fx-background-color: linear-gradient(to left ,#FFFFFF ,#F2E0CD,#C9E8ED);
}

.navbarPane{
    -fx-background-color: rgba(0,0,0,0.4);
}

.navbarText{
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-family: "IRANSans Black";
    -fx-font-size: 20px;
}

.navbarButton{
    -fx-border-color: #ffff;
    -fx-text-fill: #ffff;
    -fx-background-color: transparent;
    -fx-font-family: "IRANSans Medium";
    -fx-border-width: 2px;
}

.navbarButton:hover{
    -fx-border-color: #ffff;
    -fx-text-fill: #ffff;
    -fx-background-color: #000000FF;
    -fx-font-family: "IRANSans Medium";
    -fx-border-width: 2px;
}

.tablePane{
    fx-background-color: #ffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 15, 0, 0, 0);
}

.addPane{
    -fx-background-color: #ffff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 15, 0, 0, 0);
}

.addPaneText{
    -fx-font-family: "IRANSans Medium";
    -fx-text-fill: #000000;
}

.addPaneButton{
    -fx-border-color: #000000FF;
    -fx-text-fill: #000000FF;
    -fx-background-color: #ffff;
    -fx-font-family: "IRANSans Medium";
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.addPaneButton:hover{
    -fx-text-fill: #ffff;
    -fx-background-color: #ffff;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-background-color: #000000FF;
}

.addPaneButton2{
    -fx-border-color: #000000FF;
    -fx-text-fill: #000000FF;
    -fx-background-color: #ffff;
    -fx-font-family: "IRANSans Medium";
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.addPaneButton2:hover{
    -fx-text-fill: #ffff;
    -fx-background-color: #ffff;
    -fx-border-width: 2px;
    -fx-background-radius: 5px;
    -fx-background-color: #000000FF;
}

.logoutButton{
    -fx-border-color: #ffff;
    -fx-text-fill: #ffff;
    -fx-background-color: transparent;
    -fx-font-family: "IRANSans Medium";
    -fx-border-width: 0px;
    -fx-font-size: 10px;
}

.logoutButton:hover{
    -fx-border-color: #ffff;
    -fx-text-fill: #ffff;
    -fx-background-color: transparent;
    -fx-font-family: "IRANSans Medium";
    -fx-border-width: 0px;
    -fx-font-size: 10px;
}
